.student-dashboard {
    display: flex;
    min-height: 100vh;
    background: #f7f8fa;

    &.sidebar-collapsed {
        .main-content {
            margin-left: 80px;
        }

        .main-header {
            left: 80px;
        }
    }
}

.main-content {
    flex: 1;
    padding: 30px;
    margin-left: 250px;
    transition: margin-left 0.3s ease;
}

@media (min-width: 768px) {
    .sidebar.collapsed~.main-content {
        margin-left: 80px;
    }
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 80px;
        padding: 80px 10px 10px;
    }
}

.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding-top: 40px;

    .card {
        background: #fff;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
        animation: fadeInUp 0.4s ease;

        h3 {
            text-align: center;
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 600;
            color: #333;
        }

        p {
            text-align: center;
            font-size: 22px;
            font-weight: bold;
            color: #4a90e2;
        }
    }
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}