.layout-container {
    display: flex;
    height: 100vh;

    &.sidebar-collapsed {
        .layout-main-content {
            margin-left: 80px;
        }
    }

    .layout-main-content {
        flex: 1;
        padding: 3.5rem 20px 20px;
        margin-left: 250px;
        transition: margin-left 0.3s ease;

        app-company-header {
            flex-shrink: 0;
        }

        router-outlet {
            flex: 1;
            overflow-y: auto;
            padding: 1.25rem;
        }
    }

    @media (min-width: 768px) {
        .sidebar.collapsed~.layout-main-content {
            margin-left: 80px;
        }
    }

    @media (max-width: 768px) {
        .layout-main-content {
            margin-left: 80px;
            padding: 3rem 10px 10px;
        }
    }
}