.layout-container {
    display: flex;
    height: 100vh;

    &.sidebar-collapsed {
        .layout-main-content {
            margin-left: 70px;
        }
    }

    .layout-main-content {
        flex: 1;
        margin-left: 270px;
        transition: margin-left 0.3s ease;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;

        app-company-header {
            flex-shrink: 0;
            position: sticky;
            top: 0;
            z-index: 10;
        }

        router-outlet {
            flex: 1;
            overflow-y: auto;
            padding: 2rem;
        }
    }

    @media (min-width: 768px) {
        .sidebar.collapsed~.layout-main-content {
            margin-left: 80px;
        }
    }

    @media (max-width: 768px) {
        .layout-main-content {
            margin-left: 0;
        }
        
        router-outlet {
            padding: 1rem;
        }
    }
}