.company-dashboard {
    display: flex;
    min-height: 100vh;
    background: #f7f8fa;

    &.sidebar-collapsed {
        .main-content {
            margin-left: 80px;
        }

        .main-header {
            left: 80px;
        }
    }
}

.main-content {
    flex: 1;
    padding: 40px 20px 20px;
    margin-left: 250px;
    transition: margin-left 0.3s ease;
}

@media (min-width: 768px) {
    .sidebar.collapsed~.main-content {
        margin-left: 80px;
    }
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 80px;
        padding: 80px 10px 10px;
    }
}

.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 20px;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}