<nav class="sidebar" [class.collapsed]="!isMobile && isCollapsed" [class.expanded]="isMobile && isMobileExpanded"
    [class.mobile]="isMobile">
    <div class="sidebar-header">
        <h3 *ngIf="!isMobile && !isCollapsed || isMobile && isMobileExpanded">
            Admin Panel
        </h3>

        <button class="toggle-btn" (click)="toggleSidebar()">
            <i class="fas fa-bars"></i>
        </button>
    </div>

    <ul class="sidebar-menu">
        <li routerLinkActive="active" [routerLink]="['/admin-dashboard']">
            <i class="fas fa-tachometer-alt"></i>
            <span *ngIf="!isMobile && !isCollapsed || isMobile && isMobileExpanded">Dashboard</span>
        </li>
        <li routerLinkActive="active" [routerLink]="['/manage-users']">
            <i class="fas fa-users"></i>
            <span *ngIf="!isMobile && !isCollapsed || isMobile && isMobileExpanded">Manage Users</span>
        </li>
        <li routerLinkActive="active" [routerLink]="['/manage-companies']">
            <i class="fas fa-building"></i>
            <span *ngIf="!isMobile && !isCollapsed || isMobile && isMobileExpanded">Companies</span>
        </li>
        <li routerLinkActive="active" [routerLink]="['/view-applications']">
            <i class="fas fa-clipboard-list"></i>
            <span *ngIf="!isMobile && !isCollapsed || isMobile && isMobileExpanded">View Applications</span>
        </li>
        <li routerLinkActive="active" [routerLink]="['/view-internships']">
            <i class="fas fa-briefcase"></i>
            <span *ngIf="!isMobile && !isCollapsed || isMobile && isMobileExpanded">View Internships</span>
        </li>
        <li routerLinkActive="active" [routerLink]="['/moderate-reviews']">
            <i class="fas fa-comments"></i>
            <span *ngIf="!isMobile && !isCollapsed || isMobile && isMobileExpanded">Moderate Reviews</span>
        </li>
        <li (click)="logout()">
            <i class="fas fa-sign-out-alt"></i>
            <span *ngIf="!isMobile && !isCollapsed || isMobile && isMobileExpanded">Logout</span>
        </li>
    </ul>
</nav>