// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  /** primary **/
  --ion-color-primary: #2e7d32;
  --ion-color-primary-rgb: 46, 125, 50;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1b5e20;
  --ion-color-primary-tint: #4caf50;

  /** secondary **/
  --ion-color-secondary: #4caf50;
  --ion-color-secondary-rgb: 76, 175, 80;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #388e3c;
  --ion-color-secondary-tint: #66bb6a;

  /** success **/
  --ion-color-success: #4caf50;
  --ion-color-success-rgb: 76, 175, 80;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #388e3c;
  --ion-color-success-tint: #66bb6a;
}
