<div class="landing-container">
    <app-navbar></app-navbar>
    <header class="hero-section">
        <div class="hero-text">
            <h1>Welcome to Internship Management System</h1>
            <p>Connecting Students, Companies, and Universities in Lesotho</p>
            <div class="actions">
                <a routerLink="/login" class="btn btn-primary">Login</a>
                <a routerLink="/register" class="btn btn-secondary">Register</a>
            </div>
        </div>
        <div class="hero-image">
            <img src="assets/images.jpeg" alt="Students" />
        </div>
    </header>

    <section class="internship-section">
        <h2 class="section-title">Available Internships</h2>
        <div class="internship-grid">
            <div class="internship-card" *ngFor="let internship of internships">
                <h3 class="title">{{ internship.title }}</h3>
            <p class="company"><i class="fas fa-building"></i> {{ internship.company }}</p>
                <p class="location"><i class="fas fa-map-marker-alt"></i> {{ internship.location }}</p>
                <p class="posted-date"><i class="fas fa-calendar-alt"></i> Posted on {{ internship.postedDate }}</p>
                <p class="description">{{ internship.description }}</p>
                <button class="apply-btn" (click)="applyNow(internship.id)">Apply Now</button>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>