.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2c3e50;
    color: #fff;
    padding: 10px 20px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    z-index: 1001;
    transition: left 0.3s ease;
    height: 53px;

    &.collapsed {
        left: 80px;
    }

    .header-title h2 {
        margin: 0;
        font-size: 18px;
    }

    .header-right {
        display: flex;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;

        .admin-avatar {
            font-size: 24px;
        }

        .admin-info {
            display: none;
        }

        .logout-btn {
            background: #fff;
            padding: 5px;
            border: none;
            border-radius: 8px;
            color: rgb(225, 12, 12);
            font-size: 16px;
            cursor: pointer;
        }
    }

    @media (max-width: 768px) {
        height: 53px;
        padding: 10px 15px;
        box-shadow: none;
        border-bottom: 2px solid #2c3e50;
        left: 0 !important;
        z-index: 1000;

        &.collapsed {
            left: 0;
        }

        .header-title h2 {
            font-size: 16px;
            display: none;
        }

        .header-right {
            gap: 5px;

            .admin-info {
                display: none;
            }
        }
    }
}